In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from config import (username, password)

In [ ]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Employee_SQL')
connection = engine.connect()

In [ ]:
salary_df=pd.read_sql('select * from salaries', connection)
salary_df['salary'].value_counts()
salary_df.max()

In [ ]:
bins=[40000,50000,60000,70000,80000,90000,100000,110000,120000,130000]
group_names=['40000-49999','50000-59999','60000-69999','70000-79999','80000-89999', '90000-99999', '100000-109999', '110000-119999', '120000-130000']
salary_df['salary_range'] = pd.cut(salary_df["salary"], bins, labels=group_names, include_lowest=True)
salary_df['salary_range'].value_counts()

In [ ]:
salary_df['salary'].plot.hist(bins=bins, rwidth=0.85)
plt.xlabel('Salary($)')
plt.ylabel('frequency')
plt.grid()
plt.title('Most Common Salary Ranges')

In [ ]:
employee_df=pd.read_sql('select * from employee', connection)
title_df=pd.read_sql('select * from title', connection)

In [ ]:
employee_df=employee_df.rename(columns={'emp_title_id':'title_id'})

In [ ]:
employee_salary_df=pd.merge(employee_df, salary_df, on='emp_no')
employee_salary_df

In [ ]:
avg_salary=employee_salary_df.groupby(['title_id'])['salary'].mean()
avg_salary

In [ ]:
avg_title_salary=pd.merge(avg_salary, title_df, on='title_id')
avg_title_salary

In [ ]:
avg_title_salary.plot.bar(x='title')
plt.xlabel('Title')
plt.ylabel('Avg Salary')
plt.title('Avg Salary by Title')
plt.show()